# NOTE: This file is automatically synchronized from Patina DevOps. Update the original file there
#       instead of the file in this repo.
#
# - Patina DevOps Repo: https://github.com/OpenDevicePartnership/patina-devops
# - File Sync Settings: https://github.com/OpenDevicePartnership/patina-devops/blob/main/.sync/Files.yml

[config]
default_to_workspace = false

[env]
# This is needed due to uefi-sdk's use of unstable features.
RUSTC_BOOTSTRAP = 1

AARCH64_STD_TARGET = "--target aarch64-pc-windows-msvc"
X86_64_STD_TARGET = "--target x86_64-pc-windows-msvc"
AARCH64_UEFI_TARGET = "--target aarch64-unknown-uefi"
X86_64_UEFI_TARGET = "--target x86_64-unknown-uefi"

NO_STD_FLAGS = "-Zbuild-std=core,compiler_builtins,alloc -Zbuild-std-features=compiler-builtins-mem -Zunstable-options"
DXE_READINESS_PKG = "-p dxe_readiness_capture"
CAPTURE_BIN_FLAGS = "${NO_STD_FLAGS} ${DXE_READINESS_PKG}"
CAPTURE_UEFI_SHELL_FLAGS = "${DXE_READINESS_PKG} --features uefishell --bin uefishell_dxe_readiness_capture"

# DXE Readiness Capture UEFI binaries to run from UEFI Shell.
[tasks.build-x64-uefishell]
description = "Builds the DXE Readiness Capture UEFI binary to run in UEFI Shell."
command = "cargo"
args = [ "build", "@@split(CAPTURE_UEFI_SHELL_FLAGS, )", "@@split(X86_64_UEFI_TARGET, )", "${@}", ]

[tasks.build-aarch64-uefishell]
description = "Builds the DXE Readiness Capture UEFI binary to run in UEFI Shell."
command = "cargo"
args = [ "build", "@@split(CAPTURE_UEFI_SHELL_FLAGS, )", "@@split(AARCH64_UEFI_TARGET, )", "${@}", ]

# Right now, both Intel Lunar Lake and Panther Lake can use the same binary.
# They are available as separate commands, so they can implement different behavior
# in the future if needed without impacting callers.
[tasks.build-intel-common]
description = "Builds the Intel DXE Readiness Capture UEFI binary."
private = true
command = "cargo"
args = ["build", "@@split(CAPTURE_BIN_FLAGS, )", "@@split(X86_64_UEFI_TARGET, )", "--bin", "intel_dxe_readiness_capture", "${@}"]

# Intel Lunar Lake capture binary.
[tasks.build-intel-lnl]
description = "Builds the Intel DXE Readiness Capture UEFI binary for Lunar Lake."
dependencies = ["build-intel-common"]

# Intel Panther Lake capture binary.
[tasks.build-intel-ptl]
description = "Builds the Intel DXE Readiness Capture UEFI binary for Panther Lake."
dependencies = ["build-intel-common"]

# Builds EFI binaries for virtual platform (QEMU).
[tasks.build-x64-uefi]
description = "Builds the x64 DXE Readiness Capture UEFI binary."
command = "cargo"
args = ["build", "@@split(CAPTURE_BIN_FLAGS, )", "@@split(X86_64_UEFI_TARGET, )", "--bin", "qemu_dxe_readiness_capture", "${@}"]

[tasks.build-aarch64-uefi]
description = "Builds the aarch64 DXE Readiness Capture UEFI binary."
command = "cargo"
args = ["build", "@@split(CAPTURE_BIN_FLAGS, )", "@@split(AARCH64_UEFI_TARGET, )", "--bin", "qemu_dxe_readiness_capture", "${@}"]

# Builds Validation binary for the host platform.
[tasks.build-validation-binary-x64]
description = "Builds the x64 DXE Readiness Validation binary."
command = "cargo"
args = [ "build", "-p", "dxe_readiness_validator", "@@split(X86_64_STD_TARGET, )", "${@}", ]

[tasks.build-validation-binary-aarch64]
description = "Builds the aarch64 DXE Readiness Validation binary."
command = "cargo"
args = [ "build", "-p", "dxe_readiness_validator", "@@split(AARCH64_STD_TARGET, )", "${@}", ]

[tasks.build-validation-binary]
description = "Builds the DXE Readiness Validation binary."
dependencies = [ "build-validation-binary-x64", "build-validation-binary-aarch64" ]

[tasks.build]
description = "Build all binaries."
clear = true
dependencies = [
    "build-x64-uefishell",
    "build-aarch64-uefishell",
    "build-intel-lnl",
    "build-intel-ptl",
    "build-x64-uefi",
    "build-aarch64-uefi",
    "build-validation-binary",
]

# Tests will be built and run based on the host platform.
[tasks.test-capture-binary]
description = "Build and run tests for DXE Readiness Capture UEFI binary."
command = "cargo"
args = ["test", "-p", "dxe_readiness_capture", "${@}"]

[tasks.test-validation-binary]
description = "Build and run tests for DXE Readiness Validation binary."
command = "cargo"
args = ["test", "-p", "dxe_readiness_validator", "${@}"]

[tasks.test]
description = "Build and run tests for all binaries."
clear = true
dependencies = ["test-capture-binary", "test-validation-binary"]

# Run validator binary for all supported targets.
[tasks.run-validator]
description = "Run the DXE Readiness Validation binary."
command = "cargo"
args = ["run", "-p", "dxe_readiness_validator", "${@}"]

[tasks.run]
description = "Run validator binary."
clear = true
dependencies = ["run-validator"]

[tasks.coverage]
description = "Build and run all tests and calculate coverage."
clear = true
command = "cargo"
args = [
    "tarpaulin",
    "--output-dir",
    "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/target",
    "--out",
    "Html",
]

[tasks.clippy]
description = "Run cargo clippy."
clear = true
command = "cargo"
args = ["clippy", "--all-targets", "--all-features", "--", "-D", "warnings"]

[tasks.doc]
env = { RUSTDOCFLAGS = "-D warnings" }
description = "Builds all rust documentation in the workspace. Example `cargo make doc`"
command = "cargo"
args = ["doc", "@@split(INDIVIDUAL_PACKAGE_TARGETS, )", "--open"]

[tasks.fmt]
description = "Run cargo format."
clear = true
command = "cargo"
args = ["fmt", "--all"]

[tasks.cspell]
description = "Run cspell for spell checking."                                                                                                                                     # npm install -g cspell@latest
script = "cspell --quiet  --no-progress --no-summary  --dot --gitignore -e \"{.git/**,.github/**,.vscode/**,.azurepipelines/**,dxe_readiness_validator/src/tests/data/*.json}\" ."

[tasks.deny]
description = "Run cargo deny."
install_crate = false
clear = true
command = "cargo"
args = ["deny", "check"]

[tasks.all]
description = "Run all tasks for PR readiness."
dependencies = ["deny", "clippy", "cspell", "build", "test", "coverage", "fmt", "doc"]
